nav {
  height: 80px !important;
  width: 100% !important;
  /* background: linear-gradient(to right, rgba($dark-pink, 1), rgba($light-purple, 1)); */
  background: #fff; /* linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); */
}

.nav-item__mobile, .collapse__mobile {
  background-color: #fff;
}

.nav-link {
  color: #000 !important;
  font-family: "Exo 2", sans-serif;
}

.nav-item__mobile {
  margin-right: auto;
}

.dropdown .dropdown-menu {
  background: #fff;
}
.dropdown .dropdown-menu .dropdown-item {
  background: #fff;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  font-family: "Exo 2", sans-serif;
}
.dropdown .dropdown-menu .dropdown-item:hover {
  text-decoration: underline;
}

/* form {
    .form
} */
header {
  font-family: "Bangers", sans-serif;
  letter-spacing: 0.06rem;
}
header .header__container {
  width: 99vw;
  margin: 0 auto;
  padding: 10px 0;
}
header .header__container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .header__container ul li {
  margin: 0 40px;
}
@media (max-width: 575.98px) {
  header .header__container ul li {
    margin: 0 30px;
  }
}
header .header__container ul li a {
  text-decoration: none;
  transition: 0.5s ease-in-out;
  font-size: 16px;
}
header .header__container ul li a:hover {
  text-decoration: underline;
  transition: 0.5s ease-in-out;
}

.first-line .gradient__link {
  display: inline-block;
  text-decoration: none;
  padding: 20px 35px;
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  border-radius: 10px;
  font-family: "Exo 2", sans-serif;
}
.first-line .gradient__link:hover {
  outline: 3px solid #8f71ff;
}
.first-line .gradient__link .gradient__button--first-line {
  color: #fff !important;
}

.footer {
  position: relative;
  margin: 65px auto 0 auto;
  font-family: "Exo 2 ", sans-serif;
  font-size: 20px;
}
.footer .container-gray {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 !important;
}
.footer .container-gray .footer__top p {
  color: #fff !important;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 900;
}
.footer .container-gray .footer__top ul li {
  color: #fff;
  font-weight: 400;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.footer .container-gray .footer__top ul li:hover {
  text-decoration: underline;
}
.footer .container-black {
  background-color: #000 !important;
  margin: 0 !important;
}
.footer .container-black .footer__bottom p {
  color: #fff !important;
  text-align: center;
}
.footer .up-top {
  position: absolute;
  display: block;
  right: 15px;
  bottom: 5px;
  background: rgb(59, 59, 59);
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.footer .up-top i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.catalog__helper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 0;
  margin-left: 64px;
  font-size: 14px;
}
@media (max-width: 575.98px) {
  .catalog__helper {
    margin-left: 0;
    justify-content: center;
    padding: 25px 0 15px 0;
    font-size: 10px;
  }
}
.catalog__helper a {
  text-decoration: none;
}
.catalog__helper a:hover {
  text-decoration: underline;
}
.catalog__helper a p {
  font-family: "Exo 2", sans-serif !important;
}
.catalog__helper .catalog__text {
  font-family: "Exo 2", sans-serif !important;
  margin: 0 15px;
  cursor: default;
}

.catalog .catalog__title {
  font-family: "Bangers", cursive;
  font-size: 50px;
  margin-left: 50px;
}
@media (max-width: 575.98px) {
  .catalog .catalog__title {
    margin-left: 0;
    text-align: center;
  }
}
.catalog .container-fluid .row {
  margin-top: 40px;
}
.catalog .container-fluid .row .px-2 {
  padding-left: 48px !important;
}
@media (max-width: 575.98px) {
  .catalog .container-fluid .row .px-2 {
    margin-top: 40px;
  }
}

.product .product__slider {
  display: inline-block;
  width: 45vw;
  max-height: 60vh;
}
@media (max-width: 575.98px) {
  .product .product__slider {
    width: 75vw;
    max-height: 80vh;
  }
}
.product .product__title {
  font-size: 35px;
  font-family: "Exo 2", sans-serif;
}
.product .product__info {
  text-align: center;
  align-self: center;
  font-family: "Exo 2", sans-serif;
}
@media (min-width: 992px) {
  .product .product__info {
    padding-right: 15%;
  }
}
.product .product__info .product__price {
  font-family: inherit;
  font-size: 50px;
  margin-bottom: 15px;
}
.product .product__info .product__stock {
  font-family: inherit;
  font-size: 18px;
}
.product .product__info .product__line {
  display: block;
  margin: 20px auto;
  height: 1px;
  width: 200px;
  background: #000;
}
.product .product__info .product__sizes--title {
  font-family: inherit;
  margin-bottom: 10px;
}
.product .product__info .green {
  background: #25D366 !important;
  border: 1px solid #128C7E !important;
}
.product .product__info .green .whatsapp-text {
  color: white !important;
  font-family: inherit;
  font-size: 16px;
}
.product .product__info .green:hover {
  background: #075E54 !important;
}

#product__left-arrow--margin {
  margin-left: 200px;
}
@media (max-width: 1199.98px) {
  #product__left-arrow--margin {
    margin-left: 0px !important;
  }
}

#product__right-arrow--margin {
  margin-right: 200px;
}
@media (max-width: 1199.98px) {
  #product__right-arrow--margin {
    margin-right: 0px !important;
  }
}

.product__accordion {
  padding: 0 10%;
}
.product__accordion .accordion-header {
  font-family: "Bangers", cursive;
  font-size: 60px;
}

a, h1, h2, h3, h4, h5, h6, p, span {
  color: #000;
}

input::placeholder {
  font-family: "Dancing Script", cursive;
}

.navbar-brand {
  color: #000 !important;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  padding: 0 5px;
  transition: 0.5s ease-in-out;
}
.navbar-brand:hover {
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  transition: 0.5s ease-in-out;
}

.nav-link {
  font-size: 20px;
  transition: 0.5s ease-in-out;
  padding-bottom: 2px;
  margin-bottom: 6px;
}
.nav-link:hover {
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  transition: 0.5s ease-in-out;
}

.first-line__title {
  font-size: 50px;
  font-family: "Bangers", sans-serif;
}
@media (max-width: 575.98px) {
  .first-line__title {
    font-size: 40px;
  }
}

.second-line__title {
  font-size: 50px;
  font-family: "Bangers", sans-serif;
}
@media (max-width: 575.98px) {
  .second-line__title {
    font-size: 40px;
  }
}

.third-line__title {
  font-size: 50px;
  font-family: "Bangers", sans-serif;
}
@media (max-width: 575.98px) {
  .third-line__title {
    font-size: 40px;
  }
}

.item__title {
  margin: 15px auto 8px auto;
  font-family: "Exo 2", sans-serif !important;
  font-weight: 600;
}

.item__price {
  font-family: "Exo 2", sans-serif !important;
  font-size: 200;
}

.catalog__link {
  text-decoration: none !important;
}
.catalog__link:hover {
  text-decoration: underline !important;
}

.border-round {
  border-radius: 25px !important;
}

.img-zoom {
  transition: 0.35s ease-in-out;
}
.img-zoom:hover {
  transition: 0.35s ease-in-out;
  transform: scale(1.05);
}

.img-resize {
  display: block;
  margin: 0 auto;
  height: 35vh;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .img-resize {
    width: 380px;
  }
}
@media (max-width: 575.98px) {
  .img-resize {
    width: 220px;
  }
}

.indicators--intro {
  border: 3px solid #000;
  border-radius: 25px;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 13px;
  padding: 0 0;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .indicators--intro {
    width: 150px !important;
    height: 30px;
    padding: 0;
    padding-bottom: 30px;
  }
}
@media (max-width: 575.98px) {
  .indicators--intro {
    width: 100px !important;
    height: 30px;
    padding: 0;
    padding-bottom: 30px;
  }
}

.carousel-indicators-round {
  width: 12px !important;
  height: 12px !important;
  border-radius: 100% !important;
  background-color: #000 !important;
}
@media (max-width: 767.98px) {
  .carousel-indicators-round {
    width: 10px !important;
    height: 10px !important;
    color: #6c757d;
    padding: 0;
    margin-top: 0;
  }
}

.carousel-inner .carousel-item img {
  border-radius: 18px;
}

.indicator-mobile {
  border: 3px solid #000;
  border-radius: 25px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 13px;
  padding: 0 0;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .indicator-mobile {
    width: 150px !important;
    height: 30px;
    padding: 0;
    padding-bottom: 30px;
    margin-bottom: -60px;
  }
}
@media (max-width: 575.98px) {
  .indicator-mobile {
    width: 100px !important;
    height: 30px;
    padding: 0;
    padding-bottom: 30px;
    margin-bottom: -50px;
  }
}

.carousel-control-prev {
  justify-content: start;
  margin-left: 45px;
}
.carousel-control-prev .fa-chevron-left {
  color: #000;
  /* width: 40px;
  height: 40px; */
}
@media (max-width: 767.98px) {
  .carousel-control-prev {
    margin-left: 0;
  }
}

@media (max-width: 767.98px) {
  .arrow-intro-prev {
    margin-left: 45px !important;
  }
}

@media (max-width: 767.98px) {
  .arrow-intro-next {
    margin-right: 45px !important;
  }
}

.carousel-control-next {
  justify-content: end;
  margin-right: 45px;
}
.carousel-control-next .fa-chevron-right {
  color: #000;
}
@media (max-width: 767.98px) {
  .carousel-control-next {
    margin-right: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
