@use 'components/navbar' as *;
@use 'components/header' as *;
@use 'components/first_line' as *;
@use 'components/footer' as *;

@use 'partials/custom' as *;

@use 'partials/typography' as *;
@use 'partials/utilities' as *;
@use 'partials/buttons' as *;
@use 'partials/carrousel' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    width: 98% !important;
}