.first-line{

    .gradient__link{
        display: inline-block;
        text-decoration: none;
        padding: 20px 35px;
        background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
        border-radius: 10px;
        font-family: 'Exo 2', sans-serif;

        &:hover{
            outline: 3px solid #8f71ff;
        }
    
        .gradient__button--first-line{
            color: #fff !important;
        }
    }

    
}

