@use '../partials/custom' as *;
@use '../partials/mixins' as *;

.footer{
    position: relative;
    margin: 65px auto 0 auto;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;

    .container-gray{
        background-color: rgba($black, 0.6);
        margin: 0 !important;
        .footer__top{
            
            p{
                color: $white !important;
                font-size: 22px;
                margin-bottom: 15px;
                font-weight: 900;
            }
    
            ul{
                li{
                    color: $white;
                    font-weight: 400;
                    padding-bottom: 8px;
                    margin-bottom: 8px;

                    &:hover{
                        text-decoration: underline;
                    }
                    
                }
            }
        }
    }

    .container-black{
        background-color: $black !important;
        margin: 0 !important;
        .footer__bottom{
            
    
            p{
                color: $white !important;
                
                text-align: center;
            }
        }
    }

    .up-top{
        position: absolute;
        display: block;
        right: 15px;
        bottom: 5px;
        background: rgb(59, 59, 59);
        border: none;
        outline: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        i{
            @include absolute-center;
            color: #fff;
        }
    }


    

}