@use '../partials/custom' as *;

header{
    .header__container{
        width: 99vw;
        margin: 0 auto;
        padding: 10px 0;

        ul{
            display: flex;
            flex-direction: row;
            align-items: center;

            li{
                margin: 0 40px;

                @include media-breakpoint-down(sm){
                    margin: 0 30px;
                }

                a{
                    text-decoration: none;
                    transition: 0.5s ease-in-out;
                    font-size: 16px;

                    &:hover{
                        text-decoration: underline;
                        transition: 0.5s ease-in-out;
                    }
                }
                
            }
        }
    }
}